<div class ="left">
<% collection.forEach(function(word, i){ %>
        <button class="word"
            data-index="<%=i%>"
            data-lang ="en"
            >
            <%=word.get("en")%>
        </button>
     <% }); %>
</div>

<div class ="right">
    <% collection.forEach(function(word, i){ %>
        <button class="word"
            data-index="<%=positions[i]%>"
            data-lang ="ru"
            >
            <%=collection.at(positions[i]).get('ru')%>
        </button>
    <% }); %>
</div>

